.tile-container {
    display: flex;
    flex-wrap: wrap;
    padding: 7.3vw;
    max-height: 400px;
    overflow: auto;
    position: relative;
}

.tile {
    position: relative;
    z-index: 1;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    background-color: red;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease-out;

    -webkit-box-shadow: 0 0 20px #2980D0;
    -moz-box-shadow: 0 0 20px #2980D0;
    box-shadow: 0 0 20px #2980D0;
}

.tile:hover {
    transform: scale(1.1);
}