.tile-container {
    display: flex;
    flex-wrap: wrap;
    padding: 7.3vw;
    max-height: calc(100vh - 50%);
    overflow-y: auto;
    position: relative;
}

.tile {
    position: relative;
    z-index: 1;
    width: 120px;
    height: 120px;
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/The_Legend_of_Zelda_-_Sheikah_Symbol.svg/635px-The_Legend_of_Zelda_-_Sheikah_Symbol.svg.png");
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.2s ease-out;

    -webkit-box-shadow: 0 0 20px #2980D0;
    -moz-box-shadow: 0 0 20px #2980D0;
    box-shadow: 0 0 20px #2980D0;
}

.tile:hover {
    transform: scale(1.1);
}

.font-top {
    text-align: center;
    color: white;
}

.font-bot {
    text-align: center;
    font-weight: normal;
    color: #64BDFF;

}

.btn-modal {
    display: flex;
    justify-content: center;
    border-radius: 50px;
}

.tile-top-font {
    color: #64BDFF;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}